<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speedcubing</title>


  <script type="module" src="/js/navbar.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div id="nav"></div>

<section class="hero-section">
  <h1>Welcome to the Speedcubing Federation</h1>
  <p>Your source for cubing competitions, records, and community.</p>
</section>

<!-- Main Content Section -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="content-block">
        <h2>Over ons</h2>
        <p>De Speedcubing Federatie is toegewijd aan het bevorderen van de sport van speedcubing. We organiseren wedstrijden, houden records bij en bieden middelen aan voor cubers van alle niveaus. Sluit je bij ons aan!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="content-block">
        <h2>Toekomstige toernooien</h2>
        <p>Blijf op de hoogte van onze aanstaande cubing-wedstrijden. Maak je klaar om je vaardigheden te testen en te concurreren met medecubers van over de hele wereld. Bekijk onze evenementenpagina voor de details.</p>
      </div>
    </div>
  </div>
</div>



</body>

</html>